# Environment variables and secrets
.env
emarknews-9766845f80a3.json
*.json
!package.json
!tsconfig.json
!next.config.js

# Dependencies
node_modules/
.npm
.yarn

# Build outputs
dist/
.next/
out/

# Logs
*.log
logs/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo
